.my-masonry-grid {
    display: -webkit-flex;
    display: flex;
    margin-left: -16px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 16px;
    padding-bottom: 16px;
    background-clip: padding-box;
}
